models/
data/*
!data/process_stuck.py
__pycache__/
**/__pycache__/
*.py[cod]
**/.ipynb_checkpoints/
**/checkpoints/
result/
envs/curobo
*.zip
viewer_show.*
eval_video/
**/.DS_Store

# eval result
eval_result/

# Code Generation
assets/*
!assets/_download.py
!assets/files
!assets/files/**
!assets/audios/
!assets/audios/**

policy/weights/*

envs/curobo/*

.vscode/
.venv/
XDG_CACHE_HOME/
/config.json

/*.json*
/*.txt
process*
